section.section-main
  .container
    .row
      .col-lg-7.col-md-7.section-main-text
        h1.main-title Агентство <br> интернет-маркетинга: фокус на контент
        .main-divider
        p.main-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании модели развития.
        a.btn.btn--main.top-btn(href="javascript:void(0)") Подробнее об услуге
section.section-services
  .container
    .row
      h2.h2-title.services-title Услуги интернет-маркетинга
      .services-block-wrapper
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-1.svg", alt="")
            .service-title Комплексное продвижение в интернете
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-2.svg", alt="")
            .service-title Поисковой маркетинг (SEO-продвижение сайтов)
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-3.svg", alt="")
            .service-title Продвижение в соцсетях (Социальный маркетинг)
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-4.svg", alt="")
            .service-title Создание сайтов
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-5.svg", alt="")
            .service-title Консалтинг и аудит
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block.clearfix
            img(src="img/service-block-6.svg", alt="")
            .service-title Медийная реклама
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-7.svg", alt="")
            .service-title E-mail маркетинг
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-8.svg", alt="")
            .service-title Аналитика
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-9.svg", alt="")
            .service-title Контекстная реклама
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
          a(href="javascript:void(0)").services-block
            img(src="img/service-block-10.svg", alt="")
            .service-title Прочее
            .service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.

section.section-why-us
  .container
    .row
      h2.h2-title Почему мы
      p.main-desc.why-us-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании модели развития.
      .col-lg-6.col-md-12
        .video
          .youtube-player(data-id='VIDEO_ID')
        //- .start-video
      .col-lg-6.col-md-12
        ul.why-us-list
          li.why-us-list-item Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров.
          li.why-us-list-item Позиции позволяет выполнять важные задания по разработке системы обучения кадров.
          li.why-us-list-item Начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров.
          li.why-us-list-item Практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения.
section.section-our-work
  .container
    .row
      h2.h2-title.our-work-title Принципы работы
      .work-block-wrapper
        .col-md-6
          .work-block
            img(src="img/our-work-link-bg-1.jpg", alt="")
            .inner-hover
              .work-block-title Проведем бесплатный <br> анализ Вашего сайта
              a(href="javascript:void(0)").work-block-link Подробнее
        .col-md-6
          .work-block
            img(src="img/our-work-link-bg-2.jpg", alt="")
            .inner-hover
              .work-block-title Если Ваш проект нас заинтересует, мы возьмем его бесплатно
              a(href="javascript:void(0)").work-block-link Подробнее
    .row
      h2.h2-title.our-work-title-second.our-work-title Преимущества комплексного подхода
      p.main-desc.our-work-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании модели развития.
      .our-work-list-wrapper
        .col-md-6.our-work-list-item
          .list-number-wrapper
            img(src="img/list-counter-1.png", alt="")
          .list-textblock Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров
        .col-md-6.our-work-list-item
          .list-number-wrapper
            img(src="img/list-counter-3.png", alt="")
          .list-textblock Начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров.
        .col-md-6.our-work-list-item
          .list-number-wrapper
            img(src="img/list-counter-2.png", alt="")
          .list-textblock Позиции позволяет выполнять важные задания по разработке системы обучения кадров.
        .col-md-6.our-work-list-item
          .list-number-wrapper
            img(src="img/list-counter-4.png", alt="")
          .list-textblock Практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения.
    .row
      .animation
        img(src="img/08.gif", alt="")
section.section-blog
  .container
    .row
      h2.h2-title.blog-title Новое из блога
      .blog-news-wrapper.clearfix
        .col-md-3.col-xs-12
          .blog-img-wrapper
            .filter
              img(src="img/blog-img-1.jpg", alt="")
            a(href="javascript:void(0)").news-blog-title Короткий эксперимент по раскрутке группы «Вконтакте»
          .blog-date 16 Декабря 2016
          a(href="javascript:void(0)").blog-author Иван Иванов
          .social
            a(href="javascript:void(0)").social-like 68
            a(href="javascript:void(0)").social-comments 4
        .col-md-3.col-xs-12
          .blog-img-wrapper
            .filter
              img(src="img/blog-img-2.jpg", alt="")
            a(href="javascript:void(0)").news-blog-title Короткий эксперимент по раскрутке группы «Вконтакте»
          .blog-date 16 Декабря 2016
          a(href="javascript:void(0)").blog-author Иван Иванов
          .social
            a(href="javascript:void(0)").social-like 68
            a(href="javascript:void(0)").social-comments 4
        .col-md-3.col-xs-12
          .blog-img-wrapper
            .filter
              img(src="img/blog-img-3.jpg", alt="")
            a(href="javascript:void(0)").news-blog-title Короткий эксперимент по раскрутке группы «Вконтакте»
          .blog-date 16 Декабря 2016
          a(href="javascript:void(0)").blog-author Иван Иванов
          .social
            a(href="javascript:void(0)").social-like 68
            a(href="javascript:void(0)").social-comments 4
        .col-md-3.col-xs-12
          .blog-img-wrapper
            .filter
              img(src="img/blog-img-4.jpg", alt="")
            a(href="javascript:void(0)").news-blog-title Короткий эксперимент по раскрутке группы «Вконтакте»
          .blog-date 16 Декабря 2016
          a(href="javascript:void(0)").blog-author Иван Иванов
          .social
            a(href="javascript:void(0)").social-like 68
            a(href="javascript:void(0)").social-comments 4
    .row
      .btn-main-wrapper
        a.btn.btn--main(href="javascript:void(0)") Перейти в блог
section.section-seo
  .container
    .row
      h2.h2-title.services-title.seo-title Текст для СЕО
      p.main-desc.seo-desc Значимость этих проблем настолько очевидна, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие участие в формировании форм развития. С другой стороны постоянный количественный рост и сфера нашей активности представляет собой интересный интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Равным образом реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.
    .row
      h2.h2-title.services-title.seo-title Карьера в Ванмаркетинг
      p.main-desc.seo-desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании модели развития.
    .row
      .btn-main-wrapper.seo-btn-wrapper
        a.btn.btn--main.seo-btn(href="javascript:void(0)") Связаться с нами
section.section-contacts
  .overlay
  .container
    .row
      .col-md-4.col-xs-12
        .contacts-block
          .contacts-title Наши контакты
          .contacts-min-title Телефон:
          a(href="tel:+380673917520").contacts-link +38 (067) 391-75-20
          a(href="tel:+380673917520").contacts-link +38 (067) 391-75-20
          a(href="tel:+380673917520").contacts-link +38 (067) 391-75-20
          .contacts-min-title Режим работы:
          .contacts-link Пн. - Пт. с 9.00 - 18.00
          .contacts-link Сб. - Вс. с 9.00 - 16.00
          .contacts-min-title Email:
          a(href="mailto:e-mail@gmail.com").contacts-link e-mail@gmail.com
      .col-md-offset-1.col-md-7.col-xs-12
        form.contact-form
          input(type="text",placeholder="Ваше Имя").contact-input
          input(type="text",placeholder="Email").contact-input
          input(type="text",placeholder="Ваш телефон").contact-input
          textarea(placeholder="Сообщение").contact-input.contact-textarea
          input(type="submit", value="Отправить").contact-submit
