section.section-footer
  .container
    .row
      .col-lg-4.col-md-12.footer-copyright.col-xs-12 © 2017 Ван маркетинг -  Создание и продвижение сайтов
      .col-md-offset-2.col-lg-6.md-hidden
        ul.main-menu.footer-menu
          li
            a(href="javascript:void(0)").main-menu--item Кто мы
          li
            a(href="javascript:void(0)").main-menu--item Услуги
          li
            a(href="javascript:void(0)").main-menu--item Достижения
          li
            a(href="javascript:void(0)").main-menu--item Обучение
          li
            a(href="javascript:void(0)").main-menu--item Блог
          li
            a(href="javascript:void(0)").main-menu--item FAQ
          li
            a(href="javascript:void(0)").main-menu--item Контакты
