//- .rupture-container
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123
//-   .rupture-col 123


.wrapper
  - var g = 16
    while g--
      .grid-item
        
