.page-header--fixed
  a(href="javascript:void(0)")
    .logo
      .logo__text 
        .logo__text--left coffee
        .logo__text--right maker
      .logo__img
        img(src="img/coffee.png", alt="").logo__coffee
        img(src="img/coffee-ring.png", alt="").logo__coffee-ring
        img(src="img/coffee-lines.png", alt="").logo__coffee-lines
    .header-menu
      ul
        li
          a(href="javascript:void(0)") program
        li
          a(href="javascript:void(0)") gallery
        li
          a(href="javascript:void(0)") reviews
        li
          a(href="javascript:void(0)") partners
        li
          a(href="javascript:void(0)") contact
    .header-phone
      a(href="tel:+380996611730").header-phone--link +38 <span>(</span>099<span>)</span> 66-11-730
