section.section-post-inner
  .container
    .row
      .col-md-3
        .post-inner-category
          .post-inner-list-title Рубрики
          ul.post-inner-list
            li
              a(href="javascript:void(0)").post-inner-link Комплексное продвижение в интернете
            li
              a(href="javascript:void(0)").post-inner-link Поисковой маркетинг (SEO-продвижение сайтов)
            li
              a(href="javascript:void(0)").post-inner-link Продвижение в соцсетях (Социальный маркетинг)
            li
              a(href="javascript:void(0)").post-inner-link Создание сайтов
            li
              a(href="javascript:void(0)").post-inner-link Консалтинг и аудит
            li
              a(href="javascript:void(0)").post-inner-link Медийная реклама
        .tags
          .tags-title Популярные теги
          a(href="javascript:void(0)").tag-link Консалтинг
          a(href="javascript:void(0)").tag-link 222
          a(href="javascript:void(0)").tag-link 3333
          a(href="javascript:void(0)").tag-link 444444
      .col-md-9
        .breadcrumbs.b-zero
          a(href="javascript:void(0)").b-link Главная
          a(href="javascript:void(0)").b-link Главная123123
          a(href="javascript:void(0)").b-link Главная121212121212
          a(href="javascript:void(0)").b-link.active Услуги
        h1.h1-inner-title Название статьи
        .post-content
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-1.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-2.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-3.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-1.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-2.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-3.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-1.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-2.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            a(href="javascript:void(0)").other-post-promo.clearfix
              img(src="img/promo-pic-3.jpg", alt="").promo-img
              .promo-text
                .promo-title Заголовок статьи
                .promo-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что рамки и место обучения кадров...
                .promo-date 13 янв. 2016
            .pagination-wrapper
              .pagination
                a(href="javascript:void(0)").pagination-link <
                a(href="javascript:void(0)").pagination-link 1
                a(href="javascript:void(0)").pagination-link 2
                a(href="javascript:void(0)").pagination-link 3
                a(href="javascript:void(0)").pagination-link 4
                a(href="javascript:void(0)").pagination-link >
