section.section-post-inner
  .container
    .row
      .col-md-3
        .services-inner-list
          .sevices-inner-title Услуги
          ul
            li
              img(src="img/service-1.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Комплексное продвижение в интернете
            li
              img(src="img/service-2.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Поисковой маркетинг (SEO-продвижение сайтов)
            li
              img(src="img/service-3.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Продвижение в соцсетях (Социальный маркетинг)
            li
              img(src="img/service-4.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Создание сайтов
            li
              img(src="img/service-5.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Консалтинг и аудит
            li
              img(src="img/service-6.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Медийная реклама
            li
              img(src="img/service-7.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link E-mail маркетинг
            li
              img(src="img/service-8.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Аналитика
            li
              img(src="img/service-9.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Контекстная реклама
            li
              img(src="img/service-10.png", alt="").services-inner-img
              a(href="javascript:void(0)").sevices-inner-link Прочее
        .slider-title Новое из блога
        .slider
          .slider-item
            img(src="img/slider-item.jpg", alt="")
            .slider-inner-title Заголовок статьи
            .slider-inner-lead С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания... 
            .slider-inner-date 13 янв. 2016
          .slider-item
            img(src="img/slider-item.jpg", alt="")
            .slider-inner-title Заголовок статьи
            .slider-inner-lead С друго1223123123й стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания...
            .slider-inner-date 13 янв. 2016
          .slider-item
            img(src="img/slider-item.jpg", alt="")
            .slider-inner-title Заголовок статьи
            .slider-inner-lead С другой с123123132тороны начало повседневной работы по формированию позиции позволяет выполнять важные задания...
      .col-md-9
        .breadcrumbs.b-zero
          a(href="javascript:void(0)").b-link Главная
          a(href="javascript:void(0)").b-link Главная123123
          a(href="javascript:void(0)").b-link Главная121212121212
          a(href="javascript:void(0)").b-link.active Услуги
        h1.h1-inner-title Кто мы 
        .post-content.who-we-are
          p Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную позиции играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки развития. 
          .who-we-item Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет обеспечение нашей деятельности представляет собой интересный эксперимент проверки.
          .who-we-item Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет обеспечение нашей деятельности представляет собой интересный эксперимент проверки.
          .who-we-item Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет обеспечение нашей деятельности представляет собой интересный эксперимент проверки.
          p Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную позиции играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки развития. 
          ul.counter
            li Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет обеспечение нашей деятельности представляет собой интересный эксперимент проверки.
            li Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет обеспечение нашей деятельности представляет собой интересный эксперимент проверки.
            li Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет обеспечение нашей деятельности представляет собой интересный эксперимент проверки.
          img(src="img/about-img.jpg", alt="").about-img
