extends ../template/page
include ../mixins/submenu-item
include ../mixins/menu
include ../mixins/gmenu
include ../mixins/highlight-item
include ../mixins/breadcrumb
include ../mixins/footer

block title
    title Demo template
block content
  
    style.
        .ds-ui-kit-scope .ds-breadcrumb {
          position: absolute;
          top: 100px;
          z-index: 1;
        }

    +gmenu()

    +menu('is--transparent ds-menu--banner')

    +breadcrumb(true)

    section.ds-banner.ds-banner--big.ds-banner--with-highlights(style="background-image: url(../../aigis_assets/images/Banner-Visual.jpg)")
        .ds-banner__shadow
        .ds-banner__content
            .ds-container
                .ds-row
                    .ds-col.ds-col--center.ds-col--lg-10.ds-col--xl-12
                        h1.ds-text-shadow Manufacturing in the Age of Experience
                        h3.ds-text-shadow Agility is key for delivering customization
                        p.ds-text-shadow.
                            Personnalization is the hallmark of the experience economy. Today, consumers want high quality
                            customized experiences. To deliver uniqueness quickly, companies must be agile. But complex
                            manufacturing operations are notoriously unwieldy. What is the secret to making manufacturing nimble?
                        .action.ds-banner__buttons
                            a.ds-btn.ds-btn--scream.has-icon.ds-btn--large.js-toggle-discover(href='https://www.youtube.com/watch?v=n5V11Abaii8').
                                <i class="ds-ico ds-ico-plus-mini"></i>Discover the key
                            a.ds-btn.ds-btn--cheer.ds-btn--dark.
                                <i class="ds-ico ds-ico-play-mini"></i><span>Watch the trailer</span>

    section.ds-discover.ds-discover--closed(data-tag-page='corporate_posture')
        .ds-discover__container
            .ds-discover__wrapper(style="height: 2000px")
                .ds-discover__close
                .ds-container
                    .ds-row
                        .ds-col.ds-col--center.ds-col--xs-4.ds-col--md-6.ds-col--lg-10.ds-col--xl-14
                            h3.ds-heading-3 Design Trend, in the age of experience
                            .ds-vplayer.ds-vplayer.js-vplayer(data-video-id="byHUwhRC644")
                                .ds-vplayer__iframe-wrapper#player
                                .ds-vplayer__cover(style="background-image: url(../../aigis_assets/images/Banner-Visual.jpg)")
                                .ds-vplayer__play



            .ds-discover__footer(style="background-image: url('../../aigis_assets/images/Banner-Visual.jpg')")

                .content
                    h2.ds-heading-2 More about Design
                    p Discover our customer stories, videos and articles


    .ds-container.ds-highlight--over-hero(style="height: 1000px")
        .ds-row.ds-row--flush
            .ds-col.ds-col--xs-4.ds-col--md-4
                +highlight-item('../../aigis_assets/images/catia-mechanical-shape-engineer-excellence.jpg',
                '<span class="ds-tag-meta ds-tag-meta--red" title="Live">Live</span>',
                'Event • Design in the age of Experience',
                'Live - Tales of Transformation #1',
                '<div class="ds-people ds-people--dark"> <div class="ds-people__faces"> <div class="ds-people__face" style="background-image: url(//dummyimage.com/24x24/999999/fff);"></div><div class="ds-people__face" style="background-image: url(//dummyimage.com/24x24/999999/fff);"></div></div><div class="ds-people__infos"> <div class="ds-people__name">Author name</div></div></div>',
                '<a class="ds-btn ds-btn--murmur ds-btn--dark" href="#"><i class="ds-ico ds-ico-chevron-mini"></i><span>Watch now</span></a>',
                '<a class="ds-btn ds-btn--shout ds-btn--dark" href="#">Register</a>'
                )
            .ds-col.ds-col--xs-4.ds-col--md-4
                +highlight-item('../../aigis_assets/images/delmia-cnc-machining.jpg',
                '<span class="ds-tag-meta ds-tag-meta--blue" title="Exclusive" >Exclusive</span>',
                'IV WE • AEROSPACE & DEFENSE',
                'Chapter 3 - Clean skies',
                '<div class="ds-people ds-people--dark"> <div class="ds-people__faces"> <div class="ds-people__face" style="background-image: url(//dummyimage.com/24x24/999999/fff);"></div><div class="ds-people__face" style="background-image: url(//dummyimage.com/24x24/999999/fff);"></div><div class="ds-people__face" style="background-image: url(//dummyimage.com/24x24/999999/fff);"></div></div><div class="ds-people__infos"> <div class="ds-people__name">Author name & 3 peoples...</div></div></div>',
                '<a class="ds-btn ds-btn--murmur ds-btn--dark" href="#"><i class="ds-ico ds-ico-chevron-mini"></i><span>Discover the event</span></a>',
                '<a class="ds-btn ds-btn--shout ds-btn--dark" href="#">Register</a>'
                )

    <div class="ds-container" style="margin-bottom:200px;">
      <div class="ds-row">
        <form action="#" class="ds-col ds-col--ld-5 ds-col--center">
        <h1>Form</h1>
          <div class="ds-input">
            <input type="text" id="text1" name="name" placeholder="Placeholder">
            <label for="text1">Last name</label>
          </div>
          <div class="ds-input">
            <input type="text" id="text2" name="email">
            <label for="text2">Email</label>
          </div>
          <div class="ds-input">
            <input type="password" id="text3" name="Password" placeholder="password">
            <label for="text3">Password</label>
          </div>
          <div class="ds-select">
            <select name="option">
              <option value="" disabled selected>Placeholder</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
              <option value="option4">Option 4</option>
            </select>
          </div>
          <div class="ds-select ds-select--checkbox" tabindex="0">
            <select name="option_select" data-placeholder="Placeholder" multiple >
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
              <option value="option4">Option 4</option>
            </select>
          </div>
          <div class="ds-input">
            <input type="text" id="text11" name="date" placeholder="Placeholder" data-picker>
            <label for="text11">Date</label>
            <i class="ds-ico ds-ico-calendar-mini"></i>
          </div>
          <div class="ds-checkbox">
            <input type="checkbox" id="input1" name="check1">
            <label for="input1">Option</label>
          </div>
          <div class="ds-radio">
            <input type="radio" id="input3" name="radio2">
            <label for="input3">Option</label>
          </div>
          <div class="ds-switch">
            <input type="checkbox" id="input7" name="toggle1">
            <label for="input7">Toggle off</label>
          </div>
          <input type="submit" class="ds-btn ds-btn--scream" />
        </form>
      </div>
    </div>
                
    +footer()
