extends ../template/page

include ../mixins/submenu-item
include ../mixins/menu
include ../mixins/gmenu
include ../mixins/carousel
include ../mixins/highlight-item
include ../mixins/footer

block title
    title Industries
    
    
block content

  +gmenu()

  +menu('is--gray')

  section.ds-section
    .ds-container
      .ds-row
        .ds-col.ds-col--lg-12.ds-col--xl-16
          h1.ds-heading--h1 Industry catchy headline <br> can be two lines
          p.ds-heading--p Industry introduction Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet ex ligula. Sed placerat maximus ex, sed laoreet leo faucibus nec. In ut nulla sagittis, fermentum libero eu, iaculis orci. Aenean sapien lacus, tempor eget neque non, eleifend finibus ipsum. Cras varius augue pharetra, bibendum tortor et, facilisis tortor. Nunc pharetra dignissim lectus nec mollis. Vestibulum tempor eleifend tellus nec varius. Sed at ullamcorper velit, nec aliquet felis. Duis non ligula molestie, tincidunt.

  +carousel()

  section.ds-section
    .ds-container
      .ds-row
        .ds-col.ds-col--lg-12.ds-col--xl-16
          .ds-section-title Face your business challenges today
          p.ds-section-lead The 4th Industrial Revolution increase pressure on the manufacturing companies but also stimulates business opportunities and innovation.
          .ds-row
            .ds-col.ds-col--lg-5.ds-col--xl-5
              .ds-section-item
                .ds-section-item__title Business Driver name
                p.ds-section-item__lead Business driver tagline ex: Move beyond simply selling products. Provide customized experiences that raise…
