// a // Main colors

_black = #000
_blacklight = #4A4A4A
_gray = #818181
_graylight = #999
_graylight2 = #C1C1C1
_white = #FFF


// b // Secondary colors

_bg_graylight = #E6E6E6
_bg_graylight2 = #F4F4F4
_bg_graylight3 = #FAFAFA
_bg_white = #FFF
