doctype
html
	include pug-templates/head.pug
	body
		#page-wrapper.page-wrapper
			include pug-templates/svg.pug
			
			header.page-header
				include pug-templates/header.pug

			.page-body
				include pug-templates/body.pug

			footer.page-footer
				include pug-templates/footer.pug


		//-scripts file
		include pug-templates/scripts.pug
