doctype
html
	include pug-templates/head.pug
	body
		#page-wrapper.page-wrapper
			header.page-header
				include pug-templates/header.pug

			.page-body
				section.section-services
					.container
						.row
							.breadcrumbs
								a(href="javascript:void(0)").b-link Главная
								a(href="javascript:void(0)").b-link Главная123123
								a(href="javascript:void(0)").b-link Главная121212121212
								a(href="javascript:void(0)").b-link.active Услуги
							h2.h2-title.services-title Услуги интернет-маркетинга
							.services-block-wrapper
								.services-block
									img(src="img/service-block-1.svg", alt="")
									.service-title Комплексное продвижение в интернете
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-2.svg", alt="")
									.service-title Поисковой маркетинг (SEO-продвижение сайтов)
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-3.svg", alt="")
									.service-title Продвижение в соцсетях (Социальный маркетинг)
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-4.svg", alt="")
									.service-title Создание сайтов
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-5.svg", alt="")
									.service-title Консалтинг и аудит
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block.clearfix
									img(src="img/service-block-6.svg", alt="")
									.service-title Медийная реклама
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-7.svg", alt="")
									.service-title E-mail маркетинг
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-8.svg", alt="")
									.service-title Аналитика
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-9.svg", alt="")
									.service-title Контекстная реклама
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
								.services-block
									img(src="img/service-block-10.svg", alt="")
									.service-title Прочее
									.service-desc Краткое описание услуги в несколько строчек. При клике переходит в раздел услуги в соответственную часть.
				section.section-contacts
					.overlay
					.container
						.row
							.col-md-4
								.contacts-block
									.contacts-title Наши контакты
									.contacts-min-title Телефон:
									a(href="tel:+380673917520").contacts-link +38 (067) 391-75-20
									a(href="tel:+380673917520").contacts-link +38 (067) 391-75-20
									a(href="tel:+380673917520").contacts-link +38 (067) 391-75-20
									.contacts-min-title Режим работы:
									.contacts-link Пн. - Пт. с 9.00 - 18.00
									.contacts-link Сб. - Вс. с 9.00 - 16.00
									.contacts-min-title Email:
									a(href="mailto:e-mail@gmail.com").contacts-link e-mail@gmail.com
							.col-md-offset-1.col-md-7
								form.contact-form
									input(type="text",placeholder="Ваше Имя").contact-input
									input(type="text",placeholder="Email").contact-input
									input(type="text",placeholder="Ваш телефон").contact-input
									textarea(placeholder="Сообщение").contact-input.contact-textarea
									input(type="submit", value="Отправить").contact-submit

			footer.page-footer
				include pug-templates/footer.pug


		//-scripts file
		include pug-templates/scripts.pug
