_main-btn = #36a6ff
_hover-color = #fdb721

.section-main
  text-align center
  color #fff
  background-image: url('../img/main-bg.jpg')
  height 690px

.main-title
  font-size 42px
  font-family 'IstokWeb-Bold'
  margin 0 auto
  width 450px
  padding-top 134px
  line-height 48px

.main-desc
  font-size 18px
  margin 0 auto
  padding-top 45px
  line-height 25px

.btn-main-wrapper
  padding-top 60px
  text-align center

.btn
  display inline-block
  border-radius 30px
  color #fff
  font-size 18px
  font-family 'IstokWeb-Bold'
  text-align center
  text-decoration none
  vertical-align middle
  border 2px solid transparent
  transition .4s

.btn--main
  width 280px
  height 60px
  line-height 60px
  background-color _main-btn
  &:hover
    border 2px solid transparent
    transition .4s
    background-color alpha(#000,70%)
    color _main-btn
    border-color _main-btn

.seo-btn:hover
  background-color transparent


.section-services
  background-image url('../img/services-bg.jpg')
  padding 60px 0
  position relative

.h2-title
  text-align center
  font-size 34px
  font-family 'IstokWeb-Bold'
  color #fff

.services-title
  color #000

.services-block-wrapper
  margin-left -20px
  margin-right -20px

.services-block
  text-align center
  float left
  width 200px
  margin-left 20px
  margin-right 20px
  margin-top 55px
  &:hth-child(6n)
    clear both
  img
    height 60px


.clearfix
  clear both

.service-title
  padding-top 25px
  font-size 15px
  font-family 'IstokWeb-Bold'

.service-desc
  padding-top 25px
  font-size 14px

.section-why-us
  background-image url('../img/why-us-bg.jpg')
  padding-top 50px
  padding-bottom 90px
  text-align center

.why-us-desc
  color #fff
  padding-top 30px
  padding-bottom 40px
  font-size 16px

.why-us-list
    font-size 15px
.why-us-list-item
  color #fff
  display block
  text-align left
  line-height 20px
  clear both
  &:not(:first-child)
    margin-top 50px
  &:before
    content ''
    display inline-block
    margin-right 20px
    width 42px
    height 42px
    float left
    background-image url('../img/why-us-list-item.png')

.section-our-work
  background-image url('../img/our-work-bg.png')
  padding-top 55px


.our-work-title
  color #000
  padding-bottom 30px

.work-block
  padding-top 12px
  position relative

.inner-hover
  position absolute
  top 44px
  left 30px
  width 509px
  height 218px
  background-color alpha(#000, 60%)
  transition .4s
  &:hover
    background-color #000
    transition .4s
  &:before
    content ''
    position absolute
    bottom 0
    left 0
    width 115px
    height 65px
    border-left 1px solid #fff
    border-bottom 1px solid #fff
    transition .6s
  &:after
    content ''
    position absolute
    top 0
    right 0
    width 115px
    height 65px
    border-right 1px solid #fff
    border-top 1px solid #fff
    transition .6s
  &:hover:before
  &:hover:after
    content ''
    width 60px
    height 100%
    border-color _main-btn
    transition .6s

.work-block-title
  font-size 25px
  color #fff
  margin 0 auto
  padding-top 50px
  line-height 35px
  text-align center

.work-block-link
  margin 0 auto
  text-decoration none
  color #fff
  font-size 16px
  display block
  width 125px
  text-align right
  margin-top 50px
  transition .4s
  &:before
    content ''
    display inline-block
    background-image url('../img/link-arrow.png')
    width 21px
    height 15px
    vertical-align top
    margin-right 18px
    transition .4s
  &:hover
    color _main-btn
    &:before
      margin-right 10px
      transition .4s
      background-image url('../img/link-arrow-active.png')


.our-work-title-second
  padding-top 55px

.our-work-desc
  padding-top 0
  text-align center
  font-size 16px

.our-work-list-wrapper
  padding-top 48px

.our-work-list-item
  margin-top 20px
  &:nth-child(2n+1)
    clear both

.list-number-wrapper
  float left
  position relative
  top -18px

.list-textblock
  margin-left 100px
  font-family 'IstokWeb-Bold'
  font-size 15px
  line-height 22px

.section-blog
  background-image url('../img/blog-bg.jpg')
  height 700px
  padding-top 70px

.blog-news-wrapper
  padding-top 60px

.blog-img-wrapper:hover
  .filter:before
    background-color alpha(#000, 45%)
  .news-blog-title
    color _main-btn
    transition .4s

.filter
  position relative
  &:before
    content ''
    position absolute
    top 0
    left 0
    width 103%
    height 98%
    z-index 1
    background-color transparent
    transition .4s


.news-blog-title
  display block
  margin-top 5px
  color #fff
  font-size 16px
  line-height 25px
  transition .4s
  &:hover
    color _main-btn
    transition .4s
.blog-date
  margin-top 12px
  color #fff
  font-size 15px

.blog-author
  display block
  margin-top 16px
  color #fff
  font-size 14px

.social
  padding-top 20px

.social-like
  color #999
  font-size 15px
  text-decoration none
  margin-right 20px
  vertical-align super
  &.selected:before
  &:hover:before
    background-image url('../img/link-s.png')
    transition 0.4
  &:before
    content ''
    display inline-block
    background-image url('../img/link-n.png')
    width 12px
    height 11px
    margin-right 10px
    transition 0.4

.social-comments
  color #999
  font-size 15px
  text-decoration none
  vertical-align super
  &:before
    content ''
    display inline-block
    background-image url('../img/link-comments.png')
    width 18px
    height 16px
    margin-right 10px
    transition 0.4

.section-seo
  background-image url('../img/services-bg.jpg')
  padding-bottom 80px

.seo-title
  padding-top 60px

.seo-desc
  color #000
  font-size 16px
  text-align center
  padding-top 35px

.seo-btn-wrapper
  padding-top 38px

.section-contacts
  background-image url('../img/contacts-bg.jpg')
  height 620px
  position relative
  padding-top 92px
.overlay
  background-color alpha(#000, 70%)
  width 750px
  height 100%
  position absolute
  left 0
  top 0



.contacts-title
  padding-bottom 20px
  font-size 34px
  font-family 'IstokWeb-Bold'
  color #fff

.contacts-min-title
  padding-top 20px
  font-size 18px
  color #fff
  font-family 'IstokWeb-Bold'
  padding-bottom 6px

.contacts-link
  text-decoration none
  color #999
  font-size 16px
  display block
  margin-top 8px

.contact-input
  width 100%
  display block
  background transparent
  border-top 1px solid alpha(#fff, 10%)
  border-left 1px solid alpha(#fff, 10%)
  border-right 1px solid alpha(#fff, 10%)
  border-bottom 3px solid #fff
  height 55px
  padding-left 15px
  font-size 16px
  font-family 'IstokWeb-Bold'
  transition .4s
  color #fff
  cursor pointer
  &:hover
    border-bottom-color _hover-color
    transition .4s
  &:focus
    outline none
  &:not(:first-child)
    margin-top 16px

.contact-textarea
  padding-top 15px
  height 175px

.contact-submit
  margin-top 30px
  background #000
  border-radius 25px
  text-align center
  color #fff
  font-family 'IstokWeb-Bold'
  box-shadow none
  width 170px
  height 46px
  padding 0
  border 2px solid transparent
  transition .4s
  cursor pointer
  &:hover
    border-color #fff
    background-color alpha(#000, 70%)
    transition .4s
  &:focus
    outline none

::-webkit-input-placeholder
  color #fff

::-moz-placeholder
  color #fff

:-ms-input-placeholder
  color #fff

:-moz-placeholder
  color #fff


.breadcrumbs
  position absolute
  top 20px

.b-link
  text-decoration underline
  color #36a6ff
  font-size 14px
  margin-right 15px
  &.active
    text-decoration none
    color #999
  &:not(:last-child):after
    content '/'
    color #999
    padding 0 3px 0 7px
    text-decoration none
    position absolute




//////inner  pg

.section-post-inner
  padding-top 35px
  background-image url('../img/post-inner-bg.png')
  padding-bottom 50px

.post-inner-category
  background-image url('../img/post-list-bg.jpg')
  padding 29px 20px
.post-inner-list-title
  font-size 20px
  font-family 'IstokWeb-Bold'
  color #fff
  &:after
    content ''
    width 100%
    height 1px
    display block
    margin-top 18px
    margin-bottom 20px
    background-color #fff

.post-inner-list li:not(:first-child)
  margin-top 26px

.post-inner-link
  color #fff
  font-size 15px
  opacity 1
  transition .4s
  font-family 'IstokWeb-Bold'
  &:hover
    color #36a6ff
    transition .4s
    opacity 1

.tags
  margin-top 20px
.tags-title
  font-size 20px
  padding-bottom 20px

.tag-link
  color #fff
  text-decoration none
  display inline-block
  background-color #000
  padding 8px 10px
  font-size 14px
  margin-right 8px
  margin-bottom 8px
  transition .4s
  &:hover
    color #36a6ff
    transition .4s
    opacity 1


.b-zero
  top 0


.h1-inner-title
  font-size 34px
  font-family 'IstokWeb-Bold'
  padding-top 35px

.post-content
  margin-top 30px
  font-size 13px
  color #333
  line-height 25px
  p
    margin-bottom 20px

.left-img
  float left
  margin 0 25px 3px 0

.right-img
  float right
  margin 0 0 3px 25px

.other-posts
  margin-top 35px

.other-posts-title
  font-size 25px
  font-family 'IstokWeb-Bold'
  padding-bottom 30px

.other-post-promo
  display block
  background-color #f4f4f4
  text-decoration none
  margin-bottom 30px
  border-bottom 1px solid transparent
  transition .4s
  &:hover
    transition .4s
    border-color #36a6ff
    .promo-title
      color #36a6ff
      transition .4s


.promo-img
  width 270px
  float left
  margin-right 15px

.promo-text
  float left
  width 550px
  padding-top 15px

.promo-title
  font-size 18px
  font-family 'IstokWeb-Bold'
  color #000

.promo-lead
  font-size 15px
  color #333

.promo-date
  font-size 14px
  color #999

.pagination-wrapper
  margin 0 auto

.pagination
  text-align center

.pagination-link
  display inline-block
  width 26px
  height 26px
  border 1px solid #ccc
  color #000
  font-size 15px
  margin 0 3px
  text-align center
  vertical-align middle
  line-height 26px
  text-decoration none
  transition .4s
  &:hover
  &.active-link
    color #fff
    background-color #36a6ff
    border-color #36a6ff
    transition .4s


.services-inner-list
  background-color #f4f4f4
  padding-left 15px
  padding-top 30px
  padding-bottom 20px
  position relative
  &:after
    content ''
    position absolute
    bottom 20px
    left 50%
    transform translate(-50%,0)
    width 70px
    height 1px
    background-color #044681
  li
    margin-bottom 20px
.sevices-inner-title
  font-size 20px
  text-align center
  font-family 'IstokWeb-Bold'
  padding-bottom 25px


.services-inner-img
  vertical-align middle
  margin-right 5px
  width 29px

.sevices-inner-link
  text-decoration none
  font-size 14px
  font-family 'IstokWeb-Bold'
  color #000
  width 190px
  display inline-block
  vertical-align middle
  transition .4s
  &:hover
    transition .4s
    color #044681

.post-content.who-we-are p
 font-size 16px
 color #333

.who-we-item
  margin 5px 0
  font-size 16px
  color #333
  &:before
    content ''
    display inline-block
    margin-right 10px
    background-image url('../img/who-we-item-1.png')
    width 19px
    height 15px


.counter
  counter-reset counter
  font-size 16px
  li
    counter-increment counter
    &:before
      content counter(counter) '.'
      font-family 'IstokWeb-Bold'
      font-size 20px
      color #fdb721
      margin-right 6px

.slider-title
  font-size 20px
  font-family 'IstokWeb-Bold'
  text-align center
  margin-top 30px
  margin-bottom 20px

.slider-item
  background #f4f4f4
  padding-bottom 20px
  &:focus
    outline none

.slider-inner-title
  font-family 'IstokWeb-Bold'
  padding-top 20px
  padding-left 20px
  font-size 18px

.slider-inner-lead
  font-size 14px
  color #333
  padding-left 20px
  padding-top 10px
  line-height 20px
  padding-right 15px

.slider-inner-date
  font-size 14px
  color #999
  padding-left 20px
  padding-top 10px

.slick-dots
  text-align center
  li
    display inline-block
    padding 0 3px
    &.slick-active
      button
        background #36a6ff
        transition .4s
    button
      display inline-block
      border-radius 50%
      border none
      background none
      font-size 0
      width 0px
      height 12px
      background #ccc
      transition .4s
      &:focus
        outline none

.about-img
  padding-top 20px

@media (max-width:1200px)
  .section-main
    background-size cover
    height 335px
  .main-title
    font-size 32px
    padding-top 15px
    line-height 40px
  .main-desc
    font-size 14px
    padding-top 20px
    line-height 20px
  .why-us-list
    margin-top 55px
  .btn-main-wrapper
    padding-top 20px
  .btn--main
    width 240px
    height 50px
    line-height 50px
    font-size 16px
  .h2-title
    font-size 32px
  .services-block
    width 180px
    margin-left 10px
    margin-right 10px
    &:nth-child(6n)
      clear none
    &:nth-child(5n)
      clear both
    &:last-child
      clear none
  .clearfix
    clear none
  .section-services
    background-size contain
  .why-us-list-item:before
    padding-bottom 50px
    background-repeat no-repeat
  .why-us-list-item
    font-size 18px
  .section-why-us
    background-image url('../img/why-us-bg-md.jpg')
    background-size cover
    background-position-x -180px
  .work-block
    overflow hidden
  .inner-hover
    width 294px
  .work-block-title
    font-size 20px
    padding 50px 20px 0
  .work-block-link
    margin-top 20px
  .animation img
    width 100%
  .filter img
    width 100%
  .section-blog
    height 510px
    padding-top 20px
  .news-blog-title
    font-size 14px
  .section-seo
    background-size cover
  .footer-menu
    display none
  .contacts-title
    font-size 29px
  .overlay
    width 375px
  .main-menu > li
    display block
    padding 0
    margin 11px 5px
  .hidden-menu
    display block
    opacity 1
    visibility visible
  .main-menu
    width 230px
    padding-left 15px
    background-color #000
    position absolute
    z-index 1
    opacity 0
    visibility hidden
    transition .4s
    &.active
      visibility visible
      opacity 1
      transition .4s
  .main-menu > li:hover > .inner-header-menu
    padding 10px 0 5px 20px
    transition none
  .inner-header-menu
    opacity 1
    background-color #202020
    position relative
    visibility visible
    transform none
    left -20px
    width 230px
    font-size 16px
    margin-top 10px
    padding 10px 0 5px 20px
  .inner-header-menu--item
    font-family 'IstokWeb-Regular'
    font-size 16px
  .js-item-outer
    position relative
    &.active
      .main-menu--item
        color _hover-color
        &:after
          background-image url('../img/hidden-menu-arr-a.png')
          transform rotate(180deg)
          transition .4s
    .main-menu--item
      &:after
        content ''
        display inline-block
        width 10px
        height 6px
        position absolute
        right 10px
        top 5px
        transform  rotate(0)
        transform-origin center
        background-image url('../img/hidden-menu-arr.png')
        transition .4s
  .social-menu
    text-align right
  .social-menu li
    padding 24px 7px 0 3px
  .search-block
    width 615px
  .main-search
    width 600px
  /////////
  .other-post-promo
    overflow hidden
    max-height 127px
  .promo-img
    width 47%
  .promo-text
    width 48%
    padding-top 5px
  .promo-lead
    line-height 23px
  .section-post-inner
    background-image none
  ////////////
  .about-img
    width 100%
  .sevices-inner-link
    width 165px
  /////////
  .left-img
    width 60%
    img
      width 100%
  .right-img
    width 60%
    img
      width 100%



@media (max-width:320px)
  .section-header
    height 115px
    position relative
  .main-outer
    width 150px
    position absolute
  .hidden-menu
    padding-left 2px
    padding-top 26px
  .btn-xs-abs
    position absolute
    top 5px
    right 0
  .header-search-btn
    height 50px
    line-height 58px
  .search-block
    width 275px
  .main-search
    width 270px
  .section-main
    display none
  .section-services
    background-image none
    padding 30px 0
  .services-block
    width 300px
    margin-left 25px
    text-align left
  .services-block img
    margin-bottom 70px
    float left
    margin-right 7px
    width 80px
  .service-title
    padding-top 0
  .main-desc
    padding 35px 20px
    font-size 16px
  .why-us-list-item:before
    padding-bottom 80px
  .why-us-list-item:not(:first-child)
    margin-top 35px
  .section-why-us
    background-position-x 400px
  .inner-hover
    width 216px
  .work-block-title
    font-size 14px
    line-height 20px
    padding 5px 20px 0
    height 52px
  .work-block
    height 145px
  .inner-hover
    top 30px
    left 20px
    height 100px
    width 232px
  .section-our-work
    background-image none
    padding-bottom 30px
  .our-work-list-item
    margin-top 50px
  .animation
    display none
  .list-textblock
    font-size 14px
    line-height 18px
  .section-blog
    height auto
    background-repeat repeat-y
    background-position right
    background-size 215%
    padding-bottom 35px
  .blog-img-wrapper
    margin-top 25px
  .section-seo
    background-image none
  .overlay
    width 320px
    height 383px
  .section-contacts
    height auto
    padding-top 30px
    padding-bottom 30px
  .contact-form
    margin-top 52px
  .b-link
    display inline-block
    margin-bottom 5px
  .other-post-promo
    overflow visible
    max-height none
  .promo-img
    width 100%
  .promo-text
    width auto
    padding 10px
  .breadcrumbs
    position relative
    top 20px
  .services-inner-list:after
    bottom 0
    width 100%
  .sevices-inner-title
    margin-right 15px
  .services-inner-list
    padding-top 15px
    overflow hidden
    max-height 50px
    transition .4s
  .services-inner-list.active
    max-height none
    overflow visible
    transition .4s
  .services-inner-list:before
    content ''
    position absolute
    right 15px
    top 22px
    background-image url('../img/services-arr.png')
    width 15px
    height 9px
    transition .4s
  .services-inner-list.active:before
    transform rotate(180deg)
    transition .4s
  .post-inner-category
    padding-top 15px
    overflow hidden
    max-height 52px
    transition .4s
    cursor pointer
  .post-inner-category.active
    max-height none
    overflow visible
    transition .4s
  .post-inner-category:before
    content ''
    position absolute
    right 35px
    top 20px
    background-image url('../img/service-arr.png')
    width 15px
    height 9px
    transition .4s
    transform-origin center
  .post-inner-category.active:before
    transform rotate(180deg)
    transition .4s
  .tags
    position relative
    margin-top 0
    overflow hidden
    height 60px
    cursor pointer
  .tags.active
    height auto
    border-bottom 2px solid #000
    padding-bottom 10px
    .tags-title
      background-color #dedede
      transition .4s
      color #000
  .tags:before
    content ''
    position absolute
    right 20px
    top 25px
    background-image url('../img/service-arr.png')
    width 15px
    height 9px
    transition .4s
    z-index 2
  .tags.active:before
    transform rotate(180deg)
    transition .4s
    background-image url('../img/services-arr.png')
  .tags-title
    padding 20px
    background-color #000
    color #fff
    position relative
    transition .4s
  .tag-link
    margin 4px
    margin-top 8px
  .left-img
    width 100%
  .right-img
    width 100%
  .social-menu
    background-color #000
    position absolute
    right 2px
    z-index 5
    top 58px
    display none
  .social-menu li
    display block
    text-align center
    padding 12px
  .social-hidden-title
    display block
  .social-menu.active
    display block
  .hidden-menu
    &:after
      display none
    &:before
      content ''
      display inline-block
      background-image url('../img/hidden-menu.png')
      width 24px
      height 18px
      margin-right 10px
      transition .4s
    &.active
      transition .4s
      color _hover-color
      &:before
        background-image url('../img/hidden-menu-a.png')
        transition .4s
  .youtube-player img
    width 100%
  .why-us-list-item
    font-size 15px


.video
  position relative

.play
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  width 97px
  height 97px
  transition .4s
  background-image url('../img/video-btn.png')
  cursor pointer
  &:hover
    background-image url('../img/video-btn-a.png')
    transition .4s


.map
  width 100%
  height 500px

@media (max-width: 992px)
  .map
    width 975px
    height 450px


@media (max-width: 320px)
  .map
    width 320px
    height 500px
