small = 400px
large = 1000px

.section-main
  background url('../img/main-bg.jpg') no-repeat center/cover
  height 78vh

//
// .test
//   background-color #bada
//   padding 20px
//   @media (min-width small)
//     padding _between(20px, 200px, small, large)
//   @media (min-width large)
//     padding 200px
