_blue = #005386
_gray--dark = rgba(0,0,0,0.8)
_gray = rgba(0,0,0,0.48)


h1.ds-heading--h1
  color _blue
  font-weight 300


p.ds-heading--p
  color _gray--dark
  font-size 18px
  font-weight 300
  line-height 28px


.ds-section
  margin 0 0 120px 0


p.slide-title
  color _gray--dark
  font-size 22px
  font-weight normal
  text-align center


.ds-section-title
  color _gray--dark
  font-size 24px
  font-weight 300


.ds-section-lead
  color _gray
  font-size 18px
  font-weight 300
