.section-header
  height 70px
  width 100%
  background-color #000

.logo
  margin 0 auto
  margin-top 11px

.main-menu li
  display inline-block
  padding 26px 11px

.main-menu--item
  color #fff
  font-size 18px
  text-decoration none

.social-menu li
  display inline-block
  padding 24px 2px 0 3px
  &:(first-child)
    padding-left 0
  &:(last-child)
    padding-right 0

.svg
  fill #bcbcbc

.svg--vk
  width 20px
  height 12px

.svg--fb
  width 8px
  height 18px

.svg--tw
  width 18px
  height 15px

.svg--yt
  width 19px
  height 13px

.svg--gp
  width 22px
  height 20px

.svg--in
  width 18px
  height 18px

.svg--search
  width 18px
  height 18px
  fill #fff

.header-search-btn
  display block
  height 70px
  background-color #222
  line-height 80px
  vertical-align middle
  text-align center
