_main-btn = #36a6ff
_hover-color = #fdb721

.section-header
  height 70px
  width 100%
  background-color #000
  position relative

.logo
  margin 0 auto
  margin-top 11px
  display block

.social-hidden-title
  display none
  color #fff
  float right
  margin-top 30px
  width 154px
  color #bcbcbc
  font-size 18px
  cursor pointer
  &:after
    content ''
    width 18px
    height 18px
    background-image url('/img/social-hidden.png')
    margin-left 12px
    display inline-block
    vertical-align middle

.hidden-menu
  display none
  visibility hidden
  opacity 0
  color #fff
  font-size 18px
  padding-top 34px
  padding-left 20px
  padding-bottom 8px
  cursor pointer
  &:after
    content ''
    display inline-block
    background-image url('../img/hidden-menu.png')
    width 24px
    height 18px
    margin-left 10px
    transition .4s
  &.active
    transition .4s
    color _hover-color
    &:after
      background-image url('../img/hidden-menu-a.png')
      transition .4s

.main-menu > li
  display inline-block
  padding 26px 11px
  position relative
  &:hover .main-menu--item
    transition .4s
    color _hover-color
  &:hover > .inner-header-menu
    height auto
    transition .4s
    opacity 1
    visibility visible

.main-menu--item
  color #fff
  font-size 18px
  text-decoration none
  transition .4s

.social-menu li
  display inline-block
  padding 24px 2px 0 3px
  &:(first-child)
    padding-left 0
  &:(last-child)
    padding-right 0

.svg
  fill #bcbcbc
  transition .4s
  &:hover
    fill #fff
    transition .4s

.svg--vk
  width 20px
  height 12px

.svg--fb
  width 8px
  height 18px

.svg--tw
  width 18px
  height 15px

.svg--yt
  width 19px
  height 13px

.svg--gp
  width 22px
  height 20px

.svg--in
  width 18px
  height 18px



.inner-header-menu
  opacity 0
  background-color #222
  position absolute
  left 50%
  transform translate(-50%,0)
  padding 20px 15px
  transition .4s
  visibility hidden
  border-top 1px solid
  border-bottom 1px solid
  border-color #fdb721
  top 70px
  z-index 10



.inner-header-menu--item
  display block
  color #fff
  text-decoration none
  transition .3s
  width 190px
  font-family 'IstokWeb-Bold'
  font-size 14px
  margin-bottom 15px
  line-height 18px
  &:hover
    transition .3s
    text-decoration underline
    color #36a6ff


.language-switcher
  margin-top 30px

.language-switcher-item
  font-size 18px
  position relative
  color #fff
  text-decoration none
  &:first-child
    margin-right 19px
    &:after
      content ''
      display inline-block
      height 14px
      width 1px
      background-color #fff
      position absolute
      right -12px
  &.active
    color #36a6ff
    &:before
      content ''
      position absolute
      bottom -1px
      width 100%
      height 1px
      background-color #36a6ff
      display inline-block
