.ds-menu.is--gray
  background #fff
  color rgba(0,0,0,0.48)

  .ds-menu__links ul li a
    color rgba(0,0,0,0.48)
    &:hover
      color rgba(0, 0, 0, 0.64)

  .ds-menu__links .is-open
    color rgba(0, 0, 0, 0.64)

  .ds-menu__links ul li ul li a
    color #fff
    &:hover
      color rgba(255, 255, 255, 0.64)

.ds-btn.ds-btn--gray
  color rgba(0,0,0,0.48)
  border-color rgba(0,0,0,0.48)


.is--column
  flex-direction column
