mixin banner()
    section.ds-banner.ds-banner--big(style="background-image: url(../../aigis_assets/images/Banner-Visual.jpg)")
        .ds-banner__shadow
        .ds-banner__content
            .ds-container
                .ds-row
                    .ds-col.ds-col--center.ds-col--lg-10.ds-col--xl-12
                        h1.ds-text-shadow Manufacturing in the Age of Experience
                        h3.ds-text-shadow Agility is key for delivering customization
                        p.ds-text-shadow.
                            Personnalization is the hallmark of the experience economy. Today, consumers want high quality
                            customized experiences. To deliver uniqueness quickly, companies must be agile. But complex
                            manufacturing operations are notoriously unwieldy. What is the secret to making manufacturing nimble?
                        .action.ds-banner__buttons
                            a.ds-btn.ds-btn--scream.has-icon.ds-btn--large(href='https://www.youtube.com/watch?v=n5V11Abaii8').
                                <i class="ds-ico ds-ico-plus-mini"></i>Discover the key
                            a.ds-btn.ds-btn--cheer.ds-btn--dark.
                                <i class="ds-ico ds-ico-play-mini"></i><span>Watch the trailer</span>
