mixin breadcrumb(dark)
    .ds-container.ds-breadcrumb-container
        .ds-row
            .ds-col.ds-col--center.ds-col--lg-12
                .ds-breadcrumb.ds-breadcrumb--over-hero(class=(dark)?"ds-breadcrumb--dark":"" )
                    ul.ds-breadcrumb__ariane
                        li.js-breadcrumb-toggle
                            a(href="#")
                                i.ds-ico.ds-ico-dots-icon
                        li
                            a(href="#") Trends
                        li Manufacturing

                    .ds-breadcrumb__submenu.js-breadcrumb-submenu
                        ul
                            a(href="#")
                                li Solidworks
                            a(href="#")
                                li 3DS
