include ../mixins/sharing

mixin card()
  article.ds-card
      +sharing(false)
      a(target='_self', href='#', itemprop='url')
          .ds-card__thumbnail(style='background-image: url(//dummyimage.com/432x192/999999/fff)')
          .ds-card__wrapper
              span.ds-card__category CATIA • SOLUTION
              h4(itemprop='headline') CNC Machining
              p(itemprop='description')
                  | Machinist operators, tool path programmers, NC Machine code validation specialists can reduce programming & machining times from roughing to...
      .ds-card__links
          a.ds-btn.ds-btn--cheer(target='_self', href='catia-cnc-machining.html', itemprop='url')
              i.ds-ico.ds-ico-chevron-mini
              | <span>Discover</span>
