mixin carousel()
  section.ds-section
    #demo1.ds-carousel
      .ds-container.ds-container--carousel
        .swiper-container.swiper-container--single
          .swiper-wrapper
            .swiper-slide.is--column
              img(src='https://dummyimage.com/600x400/000/fff')
              p.slide-title Market segment name
            .swiper-slide.is--column
              img(src='https://dummyimage.com/600x400/000/fff')
              p.slide-title Aerospace suppliers
            .swiper-slide.is--column
              img(src='https://dummyimage.com/600x400/000/fff')
              p.slide-title Market segment name
            .swiper-slide.is--column
              img(src='https://dummyimage.com/600x400/000/fff')
              p.slide-title Market segment name
            .swiper-slide.is--column
              img(src='https://dummyimage.com/600x400/000/fff')
              p.slide-title Market segment name
            .swiper-slide.is--column
              img(src='https://dummyimage.com/600x400/000/fff')
              p.slide-title Market segment name
          .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
