
mixin footer(theme)
    footer.ds-footer(class=theme)
      .ds-footer__top
        .ds-container
          .ds-footer__lang
            | English (US)
            i.ds-ico.ds-ico-language-icon
            select(tabindex="10")
              option(value="en") English (US)
              option(value="es") Español
              option(value="fr") Français
          a.ds-footer__logo(href="http://www.3ds.com/")
            img(src="../../icons/3ds-logo.svg")
          .ds-footer__social
            a.ds-ico-round.ds-ico-round--small(href="//www.facebook.com/DassaultSystemes/", target="_blank")
              i.ds-ico.ds-ico-facebook-mini
            a.ds-ico-round.ds-ico-round--small(href="//www.linkedin.com/company/dassaultsystemes", target="_blank")
              i.ds-ico.ds-ico-linkedin-mini
            a.ds-ico-round.ds-ico-round--small(href="//twitter.com/dassault3DS", target="_blank")
              i.ds-ico.ds-ico-twitter-mini
      .ds-footer__links
        .ds-container
          .ds-footer__social.clearfix
            div
              a.ds-ico-round(href="//www.facebook.com/DassaultSystemes/", target="_blank")
                i.ds-ico.ds-ico-facebook-mini
              a.ds-ico-round(href="//www.linkedin.com/company/dassaultsystemes", target="_blank")
                i.ds-ico.ds-ico-linkedin-mini
              a.ds-ico-round(href="//twitter.com/dassault3DS", target="_blank")
                i.ds-ico.ds-ico-twitter-mini
            h5 Social
          h5 Tags
          ul.ds-footer__tag
            li
              a.ds-tag.ds-tag--click-dark(title="3D printing", href="#") 3D printing
            li
              a.ds-tag.ds-tag--click-dark(title="3D printing", href="#") 3D printing
          .ds-row
            .ds-col.ds-col--xs-4.ds-col--md-4.ds-col--lg-3
              .ds-footer__slide-container
                h5 Corporate
                .ds-footer__slide-wrapper
                  ul
                    li
                      a(href="http://www.3ds.com/about-3ds/") About 3ds
                    li
                      a(href="http://lafondation.3ds.com/") La Fondation
                    li
                      a(href="http://www.3ds.com/investors/") Investors
                    li
                      a(href="http://www.3ds.com/events/") Events
                    li
                      a(href="http://www.3ds.com/press-releases/") Press Releases
                    li
                      a(href="http://www.3ds.com/customer-stories/") Customer stories
                    li
                      a(href="http://www.3ds.com/about-3ds/3ds-magazines/") 3DS magazines
                    li
                      a(href="http://www.3ds.com/environmental-responsibility/") Environmental responsability
                    li
                      a(href="http://www.3ds.com/about-3ds/ethics-and-compliance/") Ethic and compliance
                    li
                      a(href="http://www.3ds.com/about-3ds/3dexperience-platform/") 3DEXPERIENCE Platform
                    li
                      a(href="http://www.3ds.com/careers/") Careers
            .ds-col.ds-col--xs-4.ds-col--md-4.ds-col--lg-3
              .ds-footer__slide-container
                h5 Brands
                .ds-footer__slide-wrapper
                  ul
                    li
                      a(href="http://www.3ds.com/products-services/catia/") CATIA
                    li
                      a(href="http://www.3ds.com/products-services/solidworks/") SOLIDWORKS
                    li
                      a(href="http://www.3ds.com/products-services/enovia/") ENOVIA
                    li
                      a(href="http://www.3ds.com/products-services/delmia/") DELMIA
                    li
                      a(href="http://www.3ds.com/products-services/simulia/") SIMULIA
                    li
                      a(href="http://www.3ds.com/products-services/geovia/") GEOVIA
                    li
                      a(href="http://www.3ds.com/products-services/exalead/") EXALEAD
                    li
                      a(href="http://www.3ds.com/products-services/3dvia/") 3DVIA
                    li
                      a(href="http://www.3ds.com/products-services/biovia/") BIOVIA
                    li
                      a(href="http://www.3ds.com/products-services/netvibes/") NETVIBES
                    li
                      a(href="http://www.3ds.com/products-services/3dexcite/") 3DEXCITE
            .clearfix.is-hidden-lg
            .ds-col.ds-col--xs-4.ds-col--md-4.ds-col--lg-3
              .ds-footer__slide-container
                h5 Industries
                .ds-footer__slide-wrapper
                  ul
                    li
                      a(href="http://www.3ds.com/industries/aerospace-defense/") Aerospace & Defense
                    li
                      a(href="http://www.3ds.com/industries/architecture-engineering-construction/") Architecture, Engineering & Construction
                    li
                      a(href="http://www.3ds.com/industries/consumer-goods-retail/") Consumer Goods & Retail
                    li
                      a(href="http://www.3ds.com/industries/consumer-packaged-goods-retail/") Consumer Packaged Goods & Retail
                    li
                      a(href="http://www.3ds.com/industries/energy-process-utilities/") Energy, Process & Utilities
                    li
                      a(href="http://www.3ds.com/industries/financial-and-business-services/") Financial and Business Services
                    li
                      a(href="http://www.3ds.com/industries/high-tech/") High-Tech
                    li
                      a(href="http://www.3ds.com/industries/industrial-equipment/") Industrial Equipment
                    li
                      a(href="http://www.3ds.com/industries/life-sciences/") Life Sciences
                    li
                      a(href="http://www.3ds.com/industries/marine-offshore/") Marine & Offshore
                    li
                      a(href="http://www.3ds.com/industries/natural-resources/") Natural Ressources
                    li
                      a(href="http://www.3ds.com/industries/transportation-mobility/") Transport & Mobility
            .ds-col.ds-col--xs-4.ds-col--md-4.ds-col--lg-3
              .ds-footer__slide-container
                h5 Megatrends
                .ds-footer__slide-wrapper
                  ul
                    li
                      a(href="#") Design
                    li
                      a(href="//www.3ds.com/megatrends/manufacturing/") Manufacturing
                    li
                      a(href="#") Science
                    li
                      a(href="#") Marketing
      .ds-footer__corporate
        .ds-container
          .ds-row
            .ds-col.ds-col--xs-4.ds-col--lg-6
              if theme
                img(src="../../icons/3ds-brand-logo.svg")
                p.ds-footer__corporate-legal © 2002-2016 - All rights reserved
              else
                p.ds-footer__corporate-legal © 2002-2016 Dassault Systèmes - All rights reserved
            .ds-col.ds-col--xs-4.ds-col--lg-6
              p.ds-footer__corporate-links
                a(href="#") Legal Info
                |   •
                a(href="#") Terms of Use
                |   •
                a(href="#") Privacy Policy
                |   •
                a(href="#") Contact
