include submenu-item
include menu

mixin gmenu()

  .ds-g-menu

    .ds-g-menu__action
      .ds-g-menu__action__burger.js-toggle-side
        i.ds-ico.ds-ico-burger-icon
      .ds-g-menu__action__logo
        a(href="#")
          img(src="../../aigis_assets/images/logo.svg")


    ul.ds-g-menu__features
      li.ds-g-menu__cta
        a.ds-btn.ds-btn--scream.ds-btn--compact How to buy
      li.ds-g-menu__search.js-icon-search
        i.ds-ico.ds-ico-search-icon
      li.ds-g-menu__notif.js-icon-notif
        i.ds-ico.ds-ico-user-icon
        .ds-g-menu__notif__count 2
      li.ds-g-menu__compass.js-icon-compass(style="display: none")
        a(href="#")
          img(src="../../aigis_assets/images/compass.png")

    .ds-g-menu-login.ds-shadow-2
      h4 Log into your favorite platform
      ul
        li
          a(href="#")
            .ds-g-menu-login__logo(style="background-image: url(../../aigis_assets/images/logo.svg)")
            .ds-g-menu-login__title 3DEXPERIENCE
        li
          a(href="#")
            .ds-g-menu-login__logo(style="background-image: url(../../aigis_assets/images/logo.svg)")
            .ds-g-menu-login__title My Solidwork
        li
          a(href="#")
            .ds-g-menu-login__logo(style="background-image: url(../../aigis_assets/images/logo.svg)")
            .ds-g-menu-login__title Partner Portal
        li
          a(href="#")
            .ds-g-menu-login__logo(style="background-image: url(../../aigis_assets/images/logo.svg)")
            .ds-g-menu-login__title Partner Portal
        li
          a(href="#")
            .ds-g-menu-login__logo(style="background-image: url(../../aigis_assets/images/logo.svg)")
            .ds-g-menu-login__title Partner Portal

      .ds-g-menu-login__expand
        a.ds-btn.ds-btn--shout.ds-btn--compact See More


  .ds-gmenu-wrapper


    .ds-g-overlay.js-gmenu-overlay

    .ds-g-side
      .ds-g-left-bar
        .ds-g-left-bar__action
          .ds-g-left-bar__action__close.js-toggle-side
            i.ds-ico.ds-ico-close-icon
          .ds-g-left-bar__action__logo
            a(href="#")
              img(src="../../aigis_assets/images/logo.svg")

        .ds-g-left-bar__container
          .ds-g-left-bar__wrapper

            .ds-g-left-bar__menu.js-left-menu-nav
              .ds-g-left-bar__top-part
                h4.ds-g-left-bar__title Navigate to...

                // You can put as many item as you want.
                ul.ds-g-left-list
                  a(href="#", data-ds-gmenu-link-translated='false').js-show-submenu
                    li(data-menu-cat='Trends').ds-g-left-list__item.ds-g-left-list__item--chevron Trends
                  a(href="#", data-ds-gmenu-link-translated='false').js-show-submenu
                    li(data-menu-cat='Industries').ds-g-left-list__item.ds-g-left-list__item--chevron Industries
                  a(href="#", data-ds-gmenu-link-translated='false').js-show-submenu
                    li(data-menu-cat='Products').ds-g-left-list__item.ds-g-left-list__item--chevron Products & Services
                  a(href="#", data-ds-gmenu-link-translated='false').js-show-submenu
                    li(data-menu-cat='Corporate').ds-g-left-list__item.ds-g-left-list__item--chevron Corporate
                  a(href="#", data-ds-gmenu-link-translated='false')
                    li.ds-g-left-list__item Support

              .ds-g-left-bar__bottom-part

                h4.ds-g-left-bar__title Audiences

                // You can put as many item as you want.
                ul.ds-g-left-list
                  a(href="#", data-ds-gmenu-link-translated='false')
                    li.ds-g-left-list__item Academy
                  a(href="#", data-ds-gmenu-link-translated='false')
                    li.ds-g-left-list__item Investors
                  a(href="#", data-ds-gmenu-link-translated='false')
                    li.ds-g-left-list__item Partners
                  a(href="#", data-ds-gmenu-link-translated='false')
                    li.ds-g-left-list__item Press
                  a(href="#", data-ds-gmenu-link-translated='false')
                    li.ds-g-left-list__item Inovators

        .ds-g-left-bar__menu-location-container
          .ds-g-left-bar__menu-location-wrapper.js-left-menu-lang
            .ds-g-left-bar__menu-location(style="")

              .ds-g-left-bar__back.js-toggle-lang
                i.ds-ico.ds-ico-back-mini

              .ds-g-left-bar__input
                label
                  i.ds-ico.ds-ico-search-mini
                  input(class="js-search-country-input" type="text" placeholder="Search a language")

              h4.ds-g-side__title(style="display: none") Results For FRA

              // You can put as many item as you want.
              ul.ds-g-left-list.ds-g-left-list--countries
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span data-langcode="fr">France - Français</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span data-langcode="en">Angleterre - Anglais</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span data-langcode="es">Espagne - Espgnol</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>
                a(href="#")
                  li.ds-g-left-list__item <img src="../../aigis_assets/images/france.svg" alt="pays - langue"/><span>Pays - Langue</span>

        .ds-g-left-bar__footer
          a(href="#").ds-g-left-bar__location.js-toggle-lang.
            <i class="ds-ico ds-ico-language-mini"></i>United States, English


      .ds-g-side__submenu.ds-g-submenu
        .ds-g-submenu__back.js-side-back
          i.ds-ico.ds-ico-back-mini

        +submenu-item("Trends", 1)
        +submenu-item("Industries", 2)
        +submenu-item("Products", 3)
        +submenu-item("Corporate", 3)




    .ds-g-modal
      .ds-g-modal__text
  
  .ds-gmenu-search
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMaxYMin slice">
      <circle cx="90" cy="0" r="0" style="fill: #fff" id="ds-search-anim" />
      <animate xlink:href="#ds-search-anim" attributeName="r" dur="0.3s" begin="indefinite" fill="freeze" restart="whenNotActive" />
    </svg>
    <div class="ds-container">
      <div class="ds-row">
        <div class="ds-col ds-col--center ds-col--md-6 ds-col--ld-8">
          <i class="ds-ico ds-ico-back-icon"></i>
          <form action="">
            <label>SEARCH ON SOLIDWORKS.COM</label>
            <input type="text" placeholder="Type something…" name="q" />
          </form>
          <h5>Popular tags</h5>
          <ul class="ds-gmenu-search__tag clearfix">
            <li><a class="ds-tag ds-tag--click-light" title="Manufacturing" href="https://www.solidworks.com/search?q=manufacturing">Manufacturing</a></li>
            <li><a class="ds-tag ds-tag--click-light" title="Cloud" href="https://www.solidworks.com/search?q=cloud">Cloud</a></li>
            <li><a class="ds-tag ds-tag--click-light" title="Compass Mag" href="https://www.solidworks.com/search?q=compass-mag">Compass Mag</a></li>
            <li><a class="ds-tag ds-tag--click-light" title="Industries" href="https://www.solidworks.com/search?q=industries">Industries</a></li>
            <li><a class="ds-tag ds-tag--click-light" title="Blogs" href="https://www.solidworks.com/search?q=blogs">Blogs</a></li>
            <li><a class="ds-tag ds-tag--click-light" title="3DExperience" href="https://www.solidworks.com/search?q=3dexperience">3DExperience</a></li>
            <li><a class="ds-tag ds-tag--click-light" title="Compass Mag" href="https://www.solidworks.com/search?q=compass-mag">Compass Mag</a></li>
          </ul>
        </div>
      </div>
    </div>


  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.solidworks.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.solidworks.com/search?q={search_term_string}",
        "query-input": "required name=search_term_string",    
        "description": "Search on solidworks.com from JSON LD",
        "agent": {
          "@type": "Organization",
          "logo": "https://www.solidworks.com/logo.png",
          "name": "Solidworks"
        }
      }
    }
