doctype html
html#the-html(lang="fr")
  head
    block title
      title Untitled

    link(rel="stylesheet", href="../css/ui-kit.max.css")
    link(rel="stylesheet", href="../css/main.css")
    meta(name="viewport", content="initial-scale=1 maximum-scale=1 user-scalable=no width=device-width minimal-ui")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="alternate", hreflang="en", href="https://launch.solidworks.com/homepage")
    link(rel="alternate", hreflang="de", href="https://launch.solidworks.com/de/homepage")
    link(rel="alternate", hreflang="es", href="https://launch.solidworks.com/es/homepage")
    link(rel="alternate", hreflang="fr", href="https://launch.solidworks.com/fr/homepage")
    link(rel="alternate", hreflang="it", href="https://launch.solidworks.com/it/homepage")
    link(rel="alternate", hreflang="ja", href="https://launch.solidworks.com/ja/homepage")
    link(rel="alternate", hreflang="ko", href="https://launch.solidworks.com/ko/homepage")
    link(rel="alternate", hreflang="pt-br", href="https://launch.solidworks.com/pt-br/homepage")
    link(rel="alternate", hreflang="tr", href="https://launch.solidworks.com/tr/homepage")
    link(rel="alternate", hreflang="zh-hans", href="https://launch.solidworks.com/zh-hans/homepage")

    script(src='js/ie-detector.js')
    script(src='js/modernizr.js')
