doctype html
html#the-html(lang="fr")
  head
    block title
      title Untitled

    link(rel="stylesheet", href="../css/main.css")
    meta(name="viewport", content="initial-scale=1 maximum-scale=1 user-scalable=no width=device-width minimal-ui")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")


    script(src='js/ie-detector.js')
    script(src='js/modernizr.js')
