mixin header()  
  section.ds-banner.ds-banner--medium(style="background-image: url(../../../aigis_assets/images/Banner-Visual.jpg)")
    .ds-banner__shadow

    .ds-banner__content
      .ds-container
        .ds-row
          .ds-col.ds-col--center.ds-col--md-8.ds-col--lg-10.ds-col--xl-12
            h1.ds-text-shadow Manufacturing in the Age of Experience
            h3.ds-text-shadow Agility is key for delivering customization
            .action.ds-banner__buttons
              a.ds-btn.ds-btn--scream.has-icon(href='https://www.youtube.com/watch?v=n5V11Abaii8').
                <i class="ds-ico ds-ico-plus-mini"></i>Discover the key
