mixin menu(modifier)
  
  <div class="ds-menu !{modifier}">
    <div class="ds-menu__wrapper">
      <ul>
        <li class="ds-menu__cta"><a href="#" class="ds-btn ds-btn--shout ds-btn--gray">CTA</a></li>
        <li class="ds-menu__top">
          <p class="ds-menu__title">
            <i class="ds-ico ds-ico-down-chevron-icon"></i>
            <span>Aerospace & Defense</span>
          </p>
        </li>
        <li class="ds-menu__links">
          <ul>
            <li>
              <a class="ds-menu__dropdown " href="#">
                <span>Long Item with sub navigation</span>
                <i class="ds-ico ds-ico-dropdown-chevron-mini"></i>
              </a>
              <ul class="has-column">
                <li class="is-highlight">
                  <a href="#"><i class="ds-ico ds-ico-cta-mini is-inline "></i><span>Discover</span><span>All Industry solution Experience</span></a>
                </li>
                <li><a href="#">Sub item 1</a></li>
                <li><a href="#">Sub item 2</a></li>
                <li><a href="#">Sub item 3</a></li>
                <li><a href="#">Sub item 4</a></li>
              </ul>
            </li>
            <li><a href="#">Item 1</a></li>
            <li>
              <a class="ds-menu__dropdown" href="#"><span>Item1</span> <i class="ds-ico ds-ico-dropdown-chevron-mini"></i></a>
              <ul>
                <li class="is-highlight"><a href="#"><i class="ds-ico ds-ico-cta-mini is-inline"></i><span>Discover</span><span>All Industry solution Experience</span></a></li>
                <li><a href="#">Sub item 1</a></li>
                <li><a href="#">Sub item 2</a></li>
                <li><a href="#">Sub item 3</a></li>
              </ul>
            </li>
            <li><a href="#">Item 3</a></li>
          </ul>
        </li>
        <li class="ds-menu__bottom">
          <ul>
            <li><a href="#"><i class="ds-ico ds-ico-back-mini is-inline"></i><span>Back to industries</span></a></li>
            <li><a href="#"><i class="ds-ico ds-ico-see-all-mini is-inline"></i><span>See all Trends</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
