script(src='js/bundle.js')
script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js")
script(src='aigis_assets/js/dark-theme.js')
script(src='js/common.js')
