mixin sharing(rtl, url, subject, body)
    .ds-sharing.ds-sharing--dark(data-url=(url)?url:"https://www.3ds.com/fr/",  data-mail-subject=subject, data-mail-body=body)
        .ds-btn.ds-btn--scream.has-icon.ds-btn--compact.ds-sharing__action
            i.ds-ico.ds-ico-share-mini
            span Share

        if(rtl)
            .ds-btn.ds-btn--scream.ds-sharing__close
                i.ds-ico.ds-ico-close-mini
        .ds-sharing__socials
            .ds-btn.ds-btn--scream.js-sharing-fb
                i.ds-ico.ds-ico-facebook-mini
            .ds-btn.ds-btn--scream.js-sharing-twitter
                i.ds-ico.ds-ico-twitter-mini
            .ds-btn.ds-btn--scream.js-sharing-linkedin
                i.ds-ico.ds-ico-linkedin-mini
            .ds-btn.ds-btn--scream.js-sharing-mail
                i.ds-ico.ds-ico-mail-mini

        if(!rtl)
            .ds-btn.ds-btn--scream.ds-sharing__close
                i.ds-ico.ds-ico-close-mini