@import 'stylus-templates/linker'
@import 'stylus-templates/slick'
@import 'stylus-templates/header'
@import 'stylus-templates/body'
@import 'stylus-templates/footer'


html
	-webkit-font-smoothing antialiased

@font-face
	font-family "Agenda"
	src url("fonts/Agenda/AgendaLight.eot")
	src url("fonts/Agenda/AgendaLight.eot?#iefix")format("embedded-opentype"),
	url("fonts/Agenda/AgendaLight.woff") format("woff"),
	url("fonts/Agenda/AgendaLight.ttf") format("truetype")
	font-style normal
	font-weight normal

@font-face
  font-family "Playfair Display"
  src url("fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot")
  src url("fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix")format("embedded-opentype"),
	url("fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"),
	url("fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype")
	font-style normal
	font-weight normal
