// .container
// 	width 1200px
// 	margin 0 auto
//
// @media (max-width: 1199px)
// 	.container
// 		width 768px
//
// @media (max-width: 992px)
// 	.container
// 		width 768px
//
// @media (max-width: 767px)
// 	.container
// 		width auto
